body,
html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("pnl.jpg");
    /* Full height */
    height: 70%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}